<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Admin view</title>
    </head>
    <body>

        <h2>Administrative list of people who have signed up</h2>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${signups.empty}">
                    <td colspan="4">No one has signed up</td>
                </tr>
                <tr th:each="signup : ${signups}">
                    <td th:text="${signup.name}">Name</td>
                    <td th:text="${signup.address}">Address</td>
                    <td><a th:href="@{/signups/{id}(id=${signup.id})}">view</a></td>
                </tr>
            </tbody>
        </table>

        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="submit" th:value="'Sign out ' + ${account.username}" value="Sign out"/>
        </form>
    </body>
</html>
